.panel.panel-primary
  .panel-heading
    %h4 ダッシュボート
  .panel-body
    .row
      .sale.col-md-6
        .panel.panel-primary
          .panel-heading
            買う
          .panel-body
            .btn-group{role: "group"}
              = link_to '入札中・落札済のオークション', bade_mypage_products_path, class: 'btn btn-default'
      .buy.col-md-6
        .panel.panel-primary
          .panel-heading
            売る
          .panel-body
            .btn-group{role: "group"}
              = link_to '全商品', mypage_products_path, class: 'btn btn-default'
            .btn-group{role: "group"}
              = link_to '出品中の商品', mypage_products_path(status: Product::PUBLISHED), class: 'btn btn-default'
            .btn-group{role: "group"}
              = link_to '出品が終了した商品', mypage_products_path(status: Product::UNUSED), class: 'btn btn-default'
            .btn-group{role: "group"}
              = link_to '出品する', exibit_mypage_products_path, class: 'btn btn-default'
      .col-md-6
        .panel.panel-primary
          .panel-heading
            ユーザー情報
          .panel-body
            .btn-group.btn-group-justified{role: 'group'}
              .btn-group{role: "group"}
                = link_to 'プロフィールの編集', edit_mypage_users_path, class: 'btn btn-default'
      .col-md-6
