.product
  .row
    .col-md-12
      .title= @product.name
  .row
    .col-md-8
      .carousel
        .carousel-productimages
          - ['', 2, 3].each do |i|
            %div= image_tag @product.send("image#{i}_url")
      .detail
        .item
          %span.item-title 開始日
          %span.item-content= l @product.start_date, format: :long
        .item
          %span.item-title 終了日
          %span.item-content= l @product.end_date, format: :long
        .item
          %span.item-title 開始価格
          %span.item-content= number_to_currency @product.price
        .item
          %span.item-title 最高額入札者
          %span.item-content= @product.max_bidding.try(:bidder).try(:name)

    .col-md-4
      .panel.panel-default
        %table.table
          %tr
            %td
              .bidding-count
                %span 入札件数
                %p
                  %span.biddings_count= @product.biddings_count
                  = link_to '入札履歴'
            %td
              .to-endtime
                %span 残り時間
                %p
                  = "#{interval(:day, Time.now, @product.end_date)}日"
          %tr.price-area
            %td{colspan: 2}
              %p.em-title 現在価格
              %p.price-current= number_to_currency(@product.max_bidding ? @product.max_bidding.try(:price) : @product.price)
              .row
                .col-md-12
                  = link_to '入札する', set_price_auction_path(@product.id), {class: 'btn btn-warning btn-lg btn-block'}
          %tr
            %td{colspan: 2}
              %p.em-title 出品者情報
              %p
                = link_to @product.seller.name, seller_show_path(@product.seller)
                さん
              %p= "評価: todo"
  .row
    .col-md-12
      .title 商品説明
      .description= simple_format h(@product.description)
