- time_limit = interval(Time.current, @product.end_date)

.product
  .row
    .col-md-12
      .title= @product.name
  .row
    .col-md-8
      .carousel
        .carousel-productimages
          - ['', 2, 3].each do |i|
            - if @product.send "image#{i}_url"
              %div= image_tag @product.send("image#{i}_url")
      .detail
        .item
          %span.item-title 開始日
          %span.item-content= l @product.start_date, format: :long
        .item
          %span.item-title 終了日
          %span.item-content= l @product.end_date, format: :long
        .item
          %span.item-title 開始価格
          %span.item-content= number_to_currency @product.price
        .item
          - if time_limit > 0
            %span.item-title 最高額入札者
          - else
            %span.item-title 落札者
          %span.item-content= @product.max_bidding.try(:bidder).try(:name)

    .col-md-4
      .panel.panel-default
        %table.table
          %tr
            %td
              .bidding-count
                %span 入札件数
                %p
                  %span.biddings_count= @product.biddings_count
            %td
              .to-endtime
                %span 残り時間
                %p= "#{time_limit}日"
          %tr.price-area
            %td{colspan: 2}
              %p.em-title 現在価格
              %p.price-current= number_to_currency(@product.max_bidding ? @product.max_bidding.try(:price) : @product.price)
              -# 現在価格は色々な場所でつかいそうなので、 @product.current_price みたいにしとくと便利かも。ロジックはこのままでOKです。
              .row
                .col-md-12
                  - if time_limit > 0
                    = link_to '入札する', set_price_auction_path(@product.id), {class: 'btn btn-warning btn-lg btn-block'}
                  - else
                    %p.alert オークションは終了しました。
          %tr
            %td{colspan: 2}
              %p.em-title 出品者情報
              %p
                = link_to @product.seller.name, seller_path(@product.seller)
                さん
                -#link_to "#{@product.seller.name} さん", seller_show_path(@product.seller) do
                -# のほうが表示文字が集まっているので良いかも
              %p= "評価: #{@product.seller.ratings_count}"
  .row
    .col-md-12
      .title 商品説明
      .description= simple_format h(@product.description)
